*{
    max-width: 700px;
    margin: auto;
}

body {
    font-family: Garamond;
    line-height: 1.5;
    min-width: 500px;
    background-color: gray;
    }

h1, h2, h3 {
    margin-top: 0;
    }


div.job, div.school, div.extras .container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkgray;
    background-color: lightgray;
    
    
    margin: 5px;
    padding: 2px;
}

div.job > div, div.school > div {
    width: 100%;
}

div.job .top, div.school .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

div.job .top > div, div.school .top > div {
    flex-shrink: 0;
    margin: 1px;
    padding:5px
}

div.extras .container > p {
    margin: 5px;
    padding: 2px;
}