*{
    margin: auto;
}

body {
    font-family: Garamond;
    line-height: 1.5;
    min-width: 500px;
    background-color: slategray;
    }

h1, h2, h3 {
    margin-top: 0;
    }

#header {
    height: 40px;
    width: 100%;
    /* background-color: #ffcccc; */
    position: fixed;
    z-index: 1;
    }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 25px;
    padding: 2px;
    margin: 2px;
}

nav > a {
    text-decoration: none;
    width: 100%;
    text-align: center;
}

a:link {
    color: black;
}

a:hover {
    color: white;
    background-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
}

a:visited {
    color: black;
}

div.wrapper {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
    background-color: antiquewhite;
}

div.job, div.school, div.extras .container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkgray;
    background-color: lightgray;
    
    
    margin: 5px;
    padding: 2px;
}

div.job > div, div.school > div {
    width: 100%;
}

div.job .top, div.school .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

div.job .top > div, div.school .top > div {
    flex-shrink: 0;
    margin: 1px;
    padding:5px
}

div.extras .container > p {
    margin: 5px;
    padding: 2px;
}

.right {
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    left: 295px;

    background-color: antiquewhite;
    border-style:double;
    border-width: 3px;
    /* border-top: 15px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px; */
    text-align: right;
    width: 750px;
    padding-top: 2px;
    padding-right: 5px;
}

#signature {
    /* border-style: dashed; */
    font-family: cursive, Times, serif; font-style: italic;
}